@import "tailwindcss";
@plugin "tailwindcss-animate";

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@theme {
    --font-jetbrains:
        "JetBrains Mono", "ui-monospace", "SFMono-Regular", "Menlo", "Monaco",
        "Consolas", "Liberation Mono", "Courier New", "monospace";
    --font-inter:
        "Inter", "ui-sans-serif", "system-ui", "sans-serif",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-yu-background-50: #080808;
    --color-yu-background-100: #050505;
    --color-yu-background-200: #010101;

    --color-yu-border-100: #222222;
    --color-yu-border-200: #191919;

    --color-yu-primary: #ff4d6d;
    --color-yu-accent: #28262b;

    --color-text-100: #acacae;
    --color-text-200: #8a8a8a;

    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));

    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));

    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));

    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));

    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));

    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));

    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));

    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    --animate-collapsible-down: collapsible-down 0.2s ease-in-out;
    --animate-collapsible-up: collapsible-up 0.2s ease-in-out;
}

@layer base {
    :root {
        --background: 343 100% 95%;
        --foreground: 343 5% 4%;
        --card: 343 50% 90%;
        --card-foreground: 343 5% 10%;
        --popover: 343 100% 95%;
        --popover-foreground: 343 100% 4%;
        --primary: 343 78.7% 44.1%;
        --primary-foreground: 0 0% 100%;
        --secondary: 343 30% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 305 30% 85%;
        --muted-foreground: 343 5% 35%;
        --accent: 305 30% 80%;
        --accent-foreground: 343 5% 10%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 343 5% 90%;
        --border: 343 30% 50%;
        --input: 343 30% 18%;
        --ring: 343 78.7% 44.1%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 343 50% 5%;
        --foreground: 343 5% 90%;
        --card: 343 50% 4%;
        --card-foreground: 343 5% 90%;
        --popover: 343 50% 5%;
        --popover-foreground: 343 5% 90%;
        --primary: 343 78.7% 44.1%;
        --primary-foreground: 0 0% 100%;
        --secondary: 343 30% 10%;
        --secondary-foreground: 0 0% 100%;
        --muted: 305 30% 15%;
        --muted-foreground: 343 5% 60%;
        --accent: 305 30% 15%;
        --accent-foreground: 343 5% 90%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 343 5% 90%;
        --border: 343 30% 18%;
        --input: 343 30% 18%;
        --ring: 343 78.7% 44.1%;
        --radius: 0.5rem;
    }
}

@layer base {
    html {
        @apply font-jetbrains;
    }

    body {
        @apply bg-background text-foreground;
    }

    *::-webkit-scrollbar {
        width: 5px;
    }

    *::-webkit-scrollbar-track {
        @apply bg-muted-foreground/5;
    }

    *::-webkit-scrollbar-thumb {
        @apply bg-yu-primary;
    }

    :root {
        scrollbar-color: rgb(255 77 109 / 1) hsl(var(--muted) / 0.05) !important;
        scrollbar-width: thin !important;
    }
}
